.title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.description {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.videoContainer {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .videoContainer iframe {
    max-width: 100%;
    height: auto;
  }