.header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px 24px;
    display: flex;
    justify-content: space-between;
}

.logo {
    position: relative;
    aspect-ratio: 602 / 104;
    display: block;
    height: 80px;
    width: auto;
}

.nav {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav a {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    /* .header {
        padding: 24px 16px;
    } */

    .logo {
        height: 60px;
    }
}